<ion-view view-title="About us">
  <ion-content>

     <div class="card">
    <div class="item item-divider">
        <H2 class="positive">Who We Are</H2> 
    </div>
     <div class="item item-text-wrap">
     <H2>We think globally to help people save his life. 
         We believe that better software makes it is real.
          And software is made better by a new way of building 
         society and capabilities to make it more safely. </H2>
    </div>
    </div>

    <div class="list">
    <a class="item item-avatar" >
      <img src="../img/av-1.jpg">
      <h2>Zaika Anastasiya</h2>
      <p>designer, general manager</p>
    </a>

    <a class="item item-avatar">
      <img src="../img/av-2.jpg">
      <h2>Husak Oleksandr</h2>
      <p>technical lead, co-founder</p>
    </a>

    <a class="item item-avatar" >
      <img src="../img/av-3.jpg">
      <h2>Kovalenko Oleksandr</h2>
      <p>strategist, developer</p>
    </a>    
    </div>

      <div class="card">
    <div class="item item-divider">
        <!--<a href="https://github.com/Valavanca/iDonor"><button class="button button-light icon-left ion-social-octocat padding">Follow us on GitHub</button></a>-->
        <h2 class="bar-balanced">DO GOOD. RELAX.</h2>
    </div>
    </div>


  </ion-content>
</ion-view>
